<footer>
  <div class="footer-left">
    <span class="name">🐙 ~/gianna</span>&nbsp;&nbsp;
    <span
      >&copy; Gianna Brachetti-Truskawa {{ now.Year }}. All rights
      reserved.</span
    >
  </div>
  <div class="footer-right">
    <span class="footer-license"><a href="/impressum/">impressum</a></span>
    <span class="footer-sep">&middot;</span>
    <span class="footer-license"><a href="/privacy/">privacy</a></span>
    <span class="footer-sep">&middot;</span>
    <span class="footer-license"><a href="/colophon/">CC BY 4.0</a></span>
    <span class="footer-sep">&middot;</span>
    <span class="footer-license"><a href="/tdm-policy/">TDM reserved</a></span>
  </div>
</footer>
